.loading-view { -fx-background-color: linear-gradient(to bottom, #251a30 0%, #24215e 53.365%, #23278c 81.731%, #2034e9 100%); }
.loading-content { -fx-padding: 91 40 64; -fx-spacing: 11; }
.loading-logo { -fx-min-width: 300; -fx-pref-width: 407; -fx-max-width: 407; -fx-min-height: 222; -fx-pref-height: 222; -fx-max-height: 222; }
.loading-content .brand { -fx-font-size: 36px; }
.loading-progress { -fx-accent: #fbbf24; -fx-min-height: 25; -fx-pref-height: 25; -fx-max-height: 25; }
.loading-progress > .track { -fx-background-color: rgba(149,148,148,0.2); -fx-background-radius: 12; -fx-border-color: rgba(255,255,255,0.3); -fx-border-radius: 12; -fx-background-insets: 0; }
.loading-progress > .bar { -fx-background-color: #fbbf24; -fx-background-radius: 12; -fx-background-insets: 0; -fx-padding: 0; }
#loadingMessage { -fx-font-size: 20px; }
#loadingDetail { -fx-font-size: 16px; }
